table {
    table-layout: auto;
    width: 800px;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 400px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.20);
}

    .content-table thead {
        background-color: #b7b7b7;
        color: black;
        text-align: left;
        font-weight: bold;
    }

tr:nth-of-type(even) {
    background-color: #f8f5f5;
}

    .content-table th {
        background-color: #868684;
        padding: 12px 15px;
    }

    .content-table, th, td {
        border: 1px solid #ffffff;
       
    }
