table {
    table-layout: auto;
    width: 800px;
}

.title {
    text-align: center;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.query {
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.description {
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
    background-color: #f8f5f5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

    .btn:hover {
        background-color: #02e5bb;
        color: black;
    }

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 400px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.20);
}

    .content-table thead {
        background-color: #c6fff3;
        color: black;
        text-align: left;
        font-weight: bold;
    }

tr:nth-of-type(even) {
    background-color: #7ae0ca;
}

    .content-table th {
        background-color: #009879;
        padding: 12px 15px;
    }

.content-table, th, td {
    border: 1px solid #036954;
}
